<%= turbo_stream_from @article %>
<div id="<%= dom_id(@article) %>">
  <%= render @article %>
</div>
<div class="container">
  <% if user_signed_in?%>
    <div class="row">
      <div class="col">
        <%= link_to "Back to articles", root_path, class:"btn btn-outline-info" %>
      </div>
      <div class="col">
        <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-outline-success" %>
      </div>
      <div class="col">
        <%= button_to "Destroy this article", @article, method: :delete, class:"btn btn-outline-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
      </div>
    </div>
  <% end %>
</div>
<hr class="dropdown-divider mb-4">
